header {
    background-color: blue;
    padding-top: 15%;
    padding-bottom: 15%;
}

nav li {
    color: aliceblue;
}

main p {
    color: darkblue;
}



.feed {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}
.feed{
    border: solid;
    margin-top: 10%;
    margin-bottom: 5%;
    padding: 50px 50px 50px 50px;
}

footer {
    background-color: aqua;
    padding-top: 10%;
    padding-bottom: 10%;
}